* { padding: 0; margin: 0; }

	body { background-color: #e7d4b5; }
	
	.background { width: 770px ; height: 332px; border-radius: 5px; padding: 38px; box-shadow: 1px 1px -1px 1px; background-color: white;		 }
	
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 61px;
	  height: 38px;
	  border-radius: 5px;

	}
	.slider span { padding: 5px; display: block; color: #aa9699 }

	.switch input {display:none;}

	.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent;  border:1px solid #aa9699; border-radius: 5px; }

	.slider:before { position: absolute; content: ""; height: 30px; width: 30px; left: 4px; bottom: 4px; background-color: #aa9699; border-radius: 5px;}

	input:checked + .slider:before { -webkit-transform: translateX(55px); -ms-transform: translateX(30px); transform: translateX(20px); }