* { padding: 0; margin: 0; box-sizing: border-box; }

	.background {background-color: #eee2cd; height: 100%; width: 100%;}

	.btns {  }

		.red {display:inline-flex; flex-direction: column;  list-style: none;  }
			.red li {  margin: 10px;}
			.red button { color: white; font-size:14px; font-weight:bold;  background-color: #db5565; border-radius: 5px; border-color:#db5565 ; width: 170px; height: 53px;  padding: 10px;}

		.yellow {display:inline-flex; flex-direction: column;  list-style: none;  }
			.yellow li {  margin: 10px;}
			.yellow button {color: white ; font-size:14px; font-weight:bold;  background-color: #f4ad49; border-radius: 5px; border-color:#f4ad49 ;  width: 170px; height: 53px;  padding: 10px;}

		.green {display:inline-flex; flex-direction: column;  list-style: none;  }
			.green li {  margin: 10px;}
			.green button {color: white ; font-size:14px; font-weight:bold;  background-color: #51bf87; border-radius: 5px; border-color:#51bf87 ;  width: 170px; height: 53px;  padding: 10px;}

		.blue {display:inline-flex; flex-direction: column;  list-style: none;  }
			.blue li {  margin: 10px;}
			.blue button {color: white ; font-size:14px; font-weight:bold;  background-color: #0bacd3; border-radius: 5px; border-color:#0bacd3 ;  width: 170px; height: 53px;  padding: 10px;}


		.red-select {display: inline-flex; list-style: none; margin: 10px; }
			.red-select li {}
			.red-select select {color: white ; font-size:14px; font-weight:bold; background-color: #db5565; border-radius: 5px;  width: 170px; height: 53px; align-items:  center;  }
			.red-select select:hover { background-color: #0bacd3; }

		.yellow-select {display: inline-flex; list-style: none; margin: 10px; }
			.yellow-select li {}
			.yellow-select select {color: white ; font-size:14px; font-weight:bold; background-color: #f4ad49; border-radius: 5px;  width: 170px; height: 53px; align-items:  center;  }
			.yellow-select select:hover { background-color: #51bf87; }

		.green-select {display: inline-flex; list-style: none; margin: 10px; }
			.green-select li {}
			.green-select select {color: white ; font-size:14px; font-weight:bold; background-color: #51bf87; border-radius: 5px;  width: 170px; height: 53px; align-items:  center;  }
			.green-select select:hover { background-color: #f4ad49; }

		.blue-select {display: inline-flex; list-style: none; margin: 10px; }
			.blue-select li {}
			.blue-select select {color: white ; font-size:14px; font-weight:bold; background-color: #0bacd3; border-radius: 5px;  width: 170px; height: 53px; align-items:  center;  }
			.blue-select select:hover { background-color: #db5565; }


	.flex-container {   width: 770px ; height: 332px; border-radius: 5px; padding: 30px 20px; box-shadow: 2px 2px 15px -3px #888888; background-color: white; }
		.flex-one-row {  }
	.switch { position: relative; display: inline-block; margin: 7px 10px 10px 10px; width: 61px; height: 38px; border-radius: 5px;	}
		.switch input {display:none;}
		form label { margin: 0; padding-top: 0; }
		.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent;  border:1px solid; border-radius: 5px; }
		.slider:before { position: absolute; content: ""; height: 30px; width: 30px; left: 4px; bottom: 4px;  border-radius: 5px;}
			.slider span {  display: inline-block; margin: 8px; padding-top: 4px; font-size: 11px; }
			.slider span i { height: 10px; width: 10px; }
			input:checked + .slider:before { -webkit-transform: translateX(30px);  -ms-transform: translateX(30px); transform: translateX(20px); }

		#purple-slider { border-color: #aa9699; }
			#purple-slider:before { background-color: #aa9699; }
		#red-slider { border-color: #db5565; }
			#red-slider:before { background-color: #db5565; }
		#yellow-slider {border-color: #f4ad49; }
			#yellow-slider:before { background-color: #f4ad49; }
		#green-slider{ border-color: #51bf87; }
			#green-slider:before { background-color: #51bf87; }

		#purple { color: #aa9699; }
		#red { color: #db5565; }
		#yellow { color: #f4ad49; }
		#green { color: #51bf87; }

	


		.intdis { opacity: 0.5;  border:1px solid grey; margin-right: 10px; width: 223px; height: 52px; border-radius: 5px; padding-left: 18px; }
		.intip { opacity: 0.6;   width: 223px; height: 52px;  border:1px solid grey; border-radius: 5px; padding-left: 18px; }
		.inhov { opacity: 0.7;  width: 223px; height: 52px; border:1px solid #aa9699; border-radius: 5px; padding-left: 18px; }
			.inhov:hover { opacity: 1; border:1px solid #aa9699; color: #aa9699; padding-left: 18px; }


